<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2>添加用户</h2>
        <form method="post" action="add_all" >
            <input type="text" required="required" placeholder="用户名" name="name"></br>
            <input type="password" required="required" placeholder="密码" name="password"></br>
            <button class="but" type="submit">提交</button>&nbsp;&nbsp;<button class="but" type="reset">取消</button>
        </form>
</body>
</html>